<div class='card bg-base-100 shadow-xl'>
  <div class='card-body flex flex-col p-4'>
    <div class='mb-4'>
      <%= blog_card_header %>
    </div>
    <h2 class='font-roboto font-bold text-xl mb-4'><%= @title %></h2>
    <%= blog_card_footer %>
  </div>
</div>
