<div class='flex flex-col'>
  <div class='text-center mb-1'><%= avatar %></div>
  <span class='font-roboto font-bold text-center text-sm'><%= @username %></span>
  <span class='font-roboto font-bold text-center text-sm'><%= @role %></span>
</div>
